@import './variables.css';

.dashboard {
  background-color: var(--neutral800);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  padding-left: 15vw; /* Match sidebar width */
}


